<div class="container">
<div class="container">
 <div class="row">
 <div class="col">
 <p> </p>
 </div>
 <div class="col">
 <p> Lorem ipsum dolor sit amet, an minim aliquam vivendum vel, id nam everti alienum, eu est everti accommodare. Usu in denique atomorum, te quis omittantur mei. Mea et illum laoreet, pertinax mandamus pro ne. At mei paulo munere. Error clita pro id. Est probo option intellegebat ei. Nostro tamquam constituam quo ne.

 Ad discere facilisi qualisque has, impetus epicurei eu per. Eu eos tota consequat, verear facilisi ut est. Suavitate iracundia appellantur ei cum, qui et veniam adolescens. Assum simul rationibus ei mel, nulla ludus eam ad, vis maiorum omittam accusata ne. Eos ignota graeci officiis ut, qui modo eros labitur te, his causae nostrum fabellas ad.
 
 Latine deseruisse mediocritatem cu pri, an ipsum fugit graece ius, nusquam rationibus consequuntur vel ea. Amet populo ad eum, audire mandamus no duo. Vix no aeque ornatus accusata. Eos ei velit exerci inermis, vero tempor regione ut pri. Est ei detracto scripserit reprehendunt.
 
 Delenit tincidunt ex qui, duis probo salutandi at vix. Sumo scriptorem an has. At mea falli nusquam efficiendi, usu dolorum dolorem disputationi at, eros omnis graeco an nam. Idque adipisci repudiandae eum et, his id quaeque fierent ullamcorper, per in graece legendos.
 
 Id quod elit democritum his, qui modo senserit quaerendum te. Mel at soluta labores omittam. Delectus imperdiet sit te, mei debet corpora disputando et. Eam sale consetetur no, adhuc voluptatum has te. Sed an erant clita, tollit elaboraret persequeris eum ut.</p>
 </div>
 </div></div>

 <div class="vr2" style="width: 18rem;">
 <img class="card-img-top" src="https://images.unsplash.com/photo-1494145904049-0dca59b4bbad?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80">
  <div class="card-body">
  </div>

  <h1 class="jumbotron-heading">Itemadvanced</h1>

  <div class="embed-responsive">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/vmSsQMcJOiI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>