<div class="fan" style="width: 18rem;">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1565151443833-29bf2ba5dd8d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80" alt="Card image cap" width="460" height="345">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="product1" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="ship" style="width: 18rem;">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1615003012751-6a15c5f02660?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80" alt="Card image cap" width="460" height="345">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="product2" class="btn btn-primary">Go somewhere</a>
  </div>

  <div class="vr" style="width: 18rem;">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1593508512255-86ab42a8e620?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=498&q=80">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="product3" class="btn btn-primary">Go somewhere</a>
  </div>