<div class="ship" style="width: 18rem;">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1615003012751-6a15c5f02660?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80" alt="Card image cap" width="460" height="345">
  <div class="card-body">
    <h5 class="card-title">Electric Mini sailing boat</h5>
    <p class="card-text">Price £150</p>
    <p class="card-text">A real boat just maybe abit to exspensive so operate a small one</p>
  </div>